@font-face {
    font-family: "SFProDisplay";
    src: url("../fonts/SFProDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "SFProDisplay";
    src: url("../fonts/SFProDisplay-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "SFProDisplay";
    src: url("../fonts/SFProDisplay-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'SFProDisplay';
    color: black;
    font-style: normal;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.container2{
    width: 1200px;
}



header{
    position: fixed;
    z-index: 50;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #161616;
    list-style: none;
}
.header_wrapper{
    display: flex;
    align-items: center;
    padding: 12px 0;
}
nav{
    display: flex;
    align-items: center;
    padding-left: 100px;
}
.header_con1{
    display: flex;
    align-items: center;
    padding-right: 84px;
    list-style: none;
}
.header_t1{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
    color: #161616;
}
.header_t1:hover{
    color: orange;
}
.header_con1 li{
    padding-right: 21px;
}
.header_con1 li:last-child{
    padding-right: 0;
}
.header_t2{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
    color: #161616;
    padding-right: 200px;
}
.header_t2:hover{
    color: orange;
}
.header_con2{
    display: flex;
    align-items: center;
    padding-right: 78px;
    list-style: none;
}
.header_l{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
    color: #CACACA;
}
.header_con2 li{
    padding-right: 7px;
}
.header_con2 li:last-child{
    padding-right: 0;
}
.header_l:hover{
    color: #161616;
}
.header_t3{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
    color: #161616;
    padding-right: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.header_t3:hover{
    color: orange;
}
.header_t3::before{
    content: "";
    width: 24px;
    height: 24px;
    background: url(../img/iconH.svg) no-repeat repeat center / cover;
    margin-right: 10px;
}
.header_t4{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
    color: #161616;
    display: flex;
    align-items: center;
}
.header_t4:hover{
    color: orange;
}
.header_t4::before{
    content: "";
    width: 24px;
    height: 24px;
    background: url(../img/iconH1.svg) no-repeat repeat center / cover;
    margin-right: 7px;
}
.header_con3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_con4{
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
    padding: 17px 24px;
    margin-bottom: -80px;
    visibility: hidden;
}
.header_con4 img{
    margin-right: 17px;
}
.header_con4 img:last-child{
    margin-right: 0;
}
.header_con3:hover>.header_con4{
    visibility: visible;
}


.section1{
    display: flex;
    justify-content: center;
}
.section1_wrapper{
    padding: 144px 0 112px 0;
    display: flex;
    flex-direction: column;
    
}
.section1_wrapper img{
    margin-left: 200px;
}
.section1_con1{
    display: flex;
    padding-bottom: 112px;
}
.section1_con2{
    padding-right: 86px;
}
.section1_st{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #161616;
    padding-bottom: 3px;    
}
.section1_t{
    font-weight: 500;
    font-size: 64px;
    line-height: 76px;
    text-transform: uppercase;
    color: #161616;  
}
.section1_text{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #161616;
    width: 382px;
}
.section1_text1{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #161616;
    padding-top: 182px;
    width: 398px;
    margin-left: 600px;
}



.section2{
    display: flex;
    justify-content: center;
}
.section2__FULL{
    display: flex;
    width: 1600px;
    justify-content: flex-end;
}
.s2__text1{
    font-size: 48px;
    font-weight: 500;
}
.s2__cont1{
    display: flex;
    margin-top: 70px;
    align-items: center;
}
.s2__kvad{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
}
.s2__kvad:hover{
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
    color: #CACCD1;
    transition: 500ms;
}
.s2__kvad2:hover{
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
    color: #CACCD1;
    transition: 500ms;
}
.s2__ContText1{
    font-weight: 500px;
    font-size: 18px;
    margin-right: 70px;
}
.s2__cont1 a{
    margin-right: 30px;
}
.s2__cont1 h2:last-child{
    margin-right: 0px;
}
.s2__text2{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    width: 397.37px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.s2__kvad2{
    width: 400px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    transition: 500ms;
}
.s2__ContText2{
    font-weight: 600;
    font-size: 14px;
    color: #161616;
}
.s2__cont2{
    margin-top: 150px;
    margin-left: 390px;
}
.s2__textCont{
    display: flex;
    margin-bottom: 40px;
}
.s2__text3{
    font-size: 64px;
    font-weight: 500;
}
.s2__SPECtext{
    font-size: 14px;
    font-weight: 500;
}
.s2__cont3 div:last-child{
    margin-bottom: 0px;
    margin-bottom: 50px;
}
.s2__cont3 div:first-child{
    margin-top: 50px;
}
.s2__textCont a:last-child{
    margin-right: 0px;
}
.s2__textCont a{
    margin-right: 30px;
    color: #161616;
}
.s2__cont3{
    margin-top: 150px;
    margin-bottom: 150px;
}



.section3{
    display: flex;
    justify-content: center;
}
.section3__FULL{
    display: flex;
    width: 1600px;
    justify-content: flex-end;
}
.s3__line{
    width: 998.72px;
    height: 1px;
    background-color: #161616;
}
.s3__firstCont{
    margin-top: 50px;
    margin-bottom: 150px;
}
.s3__text1{
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 50px;
}
.s3__img2{
    margin-bottom: 20px;
}
.s3__Left{
    display: flex;
    flex-direction: column;
    width: 398.72px;
}
.s3__img2{
    width: 289.86px;
    height: 289.86px;
}
.s3__img3{
    width: 289.86px;
    height: 289.86px;
}
.s3__secondCont{
    display: flex;
    margin-bottom: 150px;
}
.s3__Right{
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s3__liText{
    font-size: 14px;
    font-weight: 500;
}
.s3__Left ul{
    margin-top: 100px;
    margin-bottom: 70px;
}
.s3__Left li{
    margin-bottom: 10px;
    margin-left: 20px;
}
.s3__Left li:last-child{
    margin-bottom: 0px;
}
.s3__text3{
    width: 376px;
    font-size: 18px;
    font-weight: 500;
    flex-grow: 1;
}
.s3__Right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.s3__3rdCont{
    display: flex;
    margin-bottom: 70px;
}
.s3__img6{
    margin-bottom: 20px;
}
.s3__Buttons{
    display: flex;
    margin-top: 70px;
    width: 998.72px;
    justify-content: center;
    margin-bottom: 150px;
}
.s3__Buttons a:first-child{
    margin-right: 70px;
}
.s3__ENDtext1{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 50px;
}
.s3__ENDtext2{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
}
.s3__ENDsocial{
    display: flex;
    align-items: center;
    height: 54px;
}
.s3__ENDsocial img{
    width: 48px;
    height: 48px;
    transition: 500ms;
}
.s3__ENDsocial a{
    margin-right: 30px;
}
.s3__ENDsocial a:last-child{
    margin-right: 0px;
}
.s3__ENDcont{
    margin-bottom: 150px;
    margin-left: 400px;
}
.s3__ENDsocial img:hover{
    width: 54px;
    height: 54px;
    transition: 500ms;
}



footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 323px;
    background-color: #161616;
}
.footer__FULL{
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__Cont1{
    display: flex;
    margin-bottom: 60px;
    margin-top: 40px;
}
.footer__text1{
    font-size: 14px;
    font-weight: 400;
    margin-left: 60px;
    margin-top: 40px;
    color: #FFFFFF;
}
.f__Cont{
    margin-right: 100px;
}
.f__Cont2__second{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}
.f__contLine{
    width: 32px;
    height: 1px;
    background-color: #FFFFFF;
    margin-right: 15px;
}
.footer__text2{
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 400;
}
.footer__text3{
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 400;
    margin-bottom: 20px;
}
.f__Cont2 p:last-child{
    margin-bottom: 0px;
}
.f__Cont2{
    margin-right: 80px;
}
.footer__Cont1 div:last-child{
    margin-right: 0px;
}
.f__line2{
    width: 1145px;
    height: 1px;
    background-color: #FFFFFF;
    margin-left: 60px;
}
.footer__nav{
    display: flex;
    margin-top: 20px;
}
.f__nav1{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 60px;
}
.f__nav2{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    transition: 500ms;
}
.f__TextCont{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
.f__TextCont a:last-child{
    margin-right: 0px;
}
.footer__Cont2 a{
    margin-right: 30px;
}
.footer__Cont2 a:hover p{
    transition: 500ms;
    color: orange;
}